#request_form{
    width:400px;
}

#request_form td{
    padding: 10px;
}

.error{
    text-align: right;
    color: red;
}

td.error{
    padding: 0 10px 0 0!important;
    height:18px;
}

.page_but{
    display: inline-block;
    margin-right: 5px;
}